<section class="pl-3 flex lg:flex-row items-center flex-col-reverse gap-x-6">
    <div class="max-w-[500px] mt-8 lg:mt-0">
        <p class="mb-6">
            I'm a Computer Science student. I consider myself passionate about the world of programming, 
            and being able to build products and systems that can automate routine tasks. Always seek to 
            grow and learn how to do things easier and faster. I learned to program when I was 14, and I used 
            Python as my first language. Over time I focused on development with Flask and Django. 
        </p>
        <p class="mb-6">
            Apart from programming, my other passion is mathematics. This led me to become interested in the world of 
            Data Science and Machine Learning, where I can put this knowledge into practice.      
        </p>
    </div>
    <div class="flex">
        <div class="px-1 py-1 border-2 border-white/10 bg-white/5 rounded-[15px]">
            <img class="rounded-[15px] w-[300px]" src="/img/photoAboutMe.jpg" alt="Sebastian Photo">
        </div>
    </div>
</section>

