<footer class="lg:w-[900px] w-full mx-auto rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg overflow-hidden clear-both">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
            © 2024 Based on <a class="hover:underline" target="_blank" href="https://github.com/midudev/porfolio.dev">Midudev Portfolio.</a> All rights reserved.
        </span>
    </div>
</footer>
